services:
  - type: web
    name: toxic-samfam
    env: python
    region: frankfurt
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python server.py
    envVars:
      - key: PORT
        value: 10000
      - key: FLASK_SECRET_KEY
        generateValue: true